body{
    margin: 0;
    padding: 0;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    .cta{
        display: block;
        margin: 2em auto;
        border: 0px solid transparent;
        border-radius: 1.5em;
        a{
            display: block;
            padding: 0.25em 0.75em;
            text-decoration: none;
        }
    }
}
.row{
    display: flex;
}
.value {
    padding: 1em;
    box-sizing: border-box;
}
nav{
    ul{
        &#mainMenu{
            display: flex;
            li{
                display: block;
            }
        }
    }
}
.app{
    margin: 2em 0;
}
.today-page{
    margin: 2em 0;
    .month-label{
        display: block;
        padding: 0.5em;
    }
    .today-number{
        min-width: 1.135em;
        width: fit-content;
        padding: 1em;
        display: block;
        margin: 0.5em auto;
    }
    .year-number{
        display: block;
        padding: 0.5em;
    }
}
.month-page{
    margin: 2em 0;
    .month-label {
        display: block;
        padding: 0.5em;
    }
    .days-table{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .weekC{
            width     : 12.5%;
            box-sizing: border-box;
            span {
                display: block;
            }
        }
        .dayC{
            width: 12.5%;
            box-sizing: border-box;
            span{
                display: block;
            }
        }
    }
}
section{
    padding: 2em 0;
    h2{
        text-align: center;
    }
}
@media screen and(max-width: 480px){
    .container{
        width: 100%;
    }
    .days-table {
        .weekC {
            height     : 12.5vw;
            line-height: 12.5vw;
        }

        .dayC {
            height     : 12.5vw;
            line-height: 12.5vw;

            //span {}
        }
    }
}
@media screen and(min-width: 481px)and(max-width: 640px){
    .container {
        width: 90%;
    }
    .days-table {
        .weekC {
            height     : 11.25vw;
            line-height: 11.25vw;
        }

        .dayC {
            height     : 11.25vw;
            line-height: 11.25vw;

            //span {}
        }
    }
}
@media screen and(min-width: 641px)and(max-width: 768px) {
    .container {
        width: 640px;
    }
    .app {
        display        : flex;
        justify-content: space-evenly;
    }

    .today-page {
        width: 320px;
    }

    .month-page {
        width: 320px;

        .days-table {
            .weekC {
                height     : 40px;
                line-height: 40px;
            }

            .dayC {
                height     : 40px;
                line-height: 40px;

                //span {}
            }
        }
    }
}

/*-- All Under 1024 --*/
@media screen and(max-width: 1024px) {
    .row {
        flex-direction: column;
    }
}
/*-- / All Under 1024 --*/

@media screen and(min-width: 769px)and(max-width: 1024px) {
    .container {
        width: 768px;
    }
    .app{
        display: flex;
        justify-content: space-evenly;
    }
    .today-page{
        width: 380px;
    }
    .month-page{
        width: 380px;
        .days-table {
            .weekC {
                height     : 48px;
                line-height: 48px;
            }

            .dayC {
                height     : 48px;
                line-height: 48px;

                //span {}
            }
        }
    }

}
@media screen and(min-width: 1025px)and(max-width: 1200px) {
    .container {
        width: 1024px;
    }
    .value{
        width: 700px;
    }
    .app{
        width: 320px;
    }
    .month-page {

    /*.month-label {

        }*/
    .days-table {
        .weekC {
            height     : 40px;
            line-height: 40px;
        }

        .dayC {
            height     : 40px;
            line-height: 40px;

            //span {}
        }
    }
}
}
@media screen and(min-width: 1201px)and(max-width: 1600px) {
    .container {
        width: 1200px;
    }
    .value {
        width: 720px;
    }
    .app {
        width: 480px;
    }
    .month-page {
        /*.month-label {

        }*/
        .days-table {
            .weekC {
                height     : 60px;
                line-height: 60px;
            }

            .dayC {
                height     : 60px;
                line-height: 60px;

                //span {}
            }
        }
    }
}
@media screen and(min-width: 1601px){
    .container {
        width: 1600px;
    }
    .value {
        width: 1000px;
    }
    .app {
        width: 600px;
    }
    .month-page {
        .days-table {
            .weekC {
                height: 75px;
                line-height: 75px;
            }
            .dayC {
                height: 75px;
                line-height: 75px;
                //span {}
            }
        }
    }

}