$main       : #16A6AB;
$base       : #82C6C7;

$glass      : #7DBA86;
$fruit      : #D47578;
$bowl       : #80A4C9;
$cloth      : #FCFCA0;
$wine       : #FF9C53;
$dish       : #7273B3;

$deepSun    : #EDF2F2;
$sun        : #C9DAD9;
$overGround : #A6C1C1;
$ground     : #94B5B5;
$underGround: #7A9494;
$moon       : #485757;
$deepMoon   : #1C2020;

$sky        : #D2F4F4;
$sea        : #274545;

$baseSky    : #A6EBEC;
$baseSea    : #5EA2A3;


$glassSky   : #93D19C;
$glassSea   : #67A471;

$fruitSky   : #E9878A;
$fruitSea   : #BF6367;

$bowlSky    : #95B9DF;
$bowlSea    : #6C90B4;

$clothSky   : #FFFFBF;
$clothSea   : #DBDC82;

$wineSky    : #FFB369;
$wineSea    : #E4853D;

$dishSky    : #8282C3;
$dishSea    : #6264A3;

$silk01     : #FFFFFF;
$silk02     : #D5DBDB;
$silk03     : #ACB9B8;
$silk04     : #859797;
$silk05     : #5F7777;
$silk06     : #3A5858;
$silk07     : #153B3B;
$silk08     : #132929;
$silk09     : #0E1818;
$silk10     : #000000;




